.uid-main{
    position: relative;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.uid-main img{
    width: 20%;
    border-radius: 15px;
    margin-right: 15%;
}
.uid-main p{
    margin-right: 10%;
    font-size: 10px;
}
@media screen and (max-width:376px) {
    .navbar{
        background-color: grey;
        color: black;
    }
    .icons-brand{
        padding-bottom: 20%;
    }
}